body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
    background-color: #f4f4f4;
}

header, nav, section, footer {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

a {
    color: #008CBA;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
}

a {
    transition: transform 0.3s ease-in-out; /* Add transition for smooth scaling */
    display: inline-block; /* Make the anchor element block-level for transform to work */
}

a:hover {
    transform: scale(1.2); /* Scale text up by 20% on hover */
}

/* Styles for images within links */
a img {
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

a img:hover {
    transform: scale(1.1);

}

/* Styles for smooth scrolling */
html {
    scroll-behavior: smooth;
}

ul {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    padding-left: 20px;
}
