body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
}

header, nav, section, footer {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
}

.center-text {
    text-align: center;
}

.profile-pic {
    width:256px;
    height:256px;
    border:0;
}

.email-link {
    text-decoration: none;
    color: inherit;
}

nav {
    text-align: center;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
}



.nav-list li {
    display: inline;
    margin: 0 20px;
    text-align: center;
}


a {
    color: #008CBA;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
    transform: scale(1.2);
}

a img {
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

a img:hover {
    transform: scale(1.1);
}

section {
    text-align: center;
}

ul {
    width: 70%;
    text-align: left;
    display: inline-block;
}


html {
    scroll-behavior: smooth;
}
ul li > ul {
    display: block;
}


.underlined {
    text-decoration: underline;
}

a.permanent-underline {
    text-decoration: underline;
}
