body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
}

header, nav, section, footer {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
}

.center-text {
    text-align: center;
}

.profile-pic {
    width:256px;
    height:256px;
    border:0;
}

.email-link {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    margin: 0 20px;
}

.nav-list li a.disabled {
    color: rgb(0, 0, 0); /* Dim the link color */
    pointer-events: none; /* Prevents click and hover events */
    cursor: default;
}



a {
    color: #008CBA;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
    transform: scale(1.2);
}

a img {
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

a img:hover {
    transform: scale(1.1);
}

section {
    text-align: center;
}

ul {
    width: 70%;
    text-align: left;
    display: inline-block;
}


html {
    scroll-behavior: smooth;
}
ul li > ul {
    display: block;
}


.underlined {
    text-decoration: underline;
}

a.permanent-underline {
    text-decoration: underline;
}


#p5-canvas {
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 10;
    background-color: transparent;
    pointer-events: none;
}

.platform {
    background-color: #555; /* Dark grey color */
    border: 1px solid #333; /* Slightly darker border for depth */
    /* Add more styles as needed */
}

.interactable-highlight {
    transform: scale(1.2); /* 20% larger */
    transition: transform 0.3s; /* Smooth transition for the scaling */
}

